{% extends 'base.html' %}

{% block header %}
{% block title %}Items{% endblock %}
{% endblock %}

{% block content %}
<h1>Items</h1>
<p><a href="{{ url_for('web.upload') }}"> Record new item</a>
</p>
<form action="{{ url_for('web.search') }}" method="GET">
    <input type="text" name="q" placeholder="Search">
    <input type="submit" value="Search">
</form>
<table>
メモ：ハリボテ
    <tr>
        <th>Title</th>
        <th>Authors</th>
        <th>Year</th>
        <th>Journal</th>
        <th>PDF</th>
    </tr>
    <tr>
    <td>sample title1</td>
    <td>sample authors1</td>
    <td>sample year1</td>
    <td>sample journal1</td>
    <td>sample pdf link1</td>
    </tr>
    <tr>
    <td>sample title2</td>
    <td>sample authors2</td>
    <td>sample year2</td>
    <td>sample journal2</td>
    <td>sample pdf link2</td>
    </tr>
    
    {# {% for item in items %}
    <tr>
        <td><a href="{{ url_for('item.title') }}">{{ item.title }}</a></td>
        <td>
            <a href="{{ url_for('item.authors') }}">{{ item.authors }}</a>
        </td>
        <td>
            <a href="{{ url_for('item.year') }}">{{ item.year }}</a>
        </td>
        <td>
            <a href="{{ url_for('item.journal') }}">{{ item.journal }}</a>
        </td>
        <td>
            <a href="{{ url_for('item.pdf') }}">{{ item.pdf }}</a>
        </td>
    </tr>
    {% endfor %} #}
</table>
{% endblock %}