{%extends 'base.html'%}
{%block title%}
Upload success
{%endblock%}
{%block body%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Upload success</h3>
                </div>
                <div class="panel-body">
                    <p>
                        <a href="{{url('web.index')}}">Back to home</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


{%endblock%}