{% extends 'base.html' %}

{% block header %}
{% block title %}Record new item{% endblock %}
{% endblock %}

{% block content %}
<h1>Record new item</h1>

<p>
<form action="{{ url_for('web.upload') }}" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" accept=".pdf .doc .docx"><br>
    Allowed filetype: pdf, doc, docx<br>
            <input type="text" name="title" placeholder="Title (Required)" required><br>
            <input type="text" name="authors" placeholder="Authors"><br>
            <input type="text" name="year" placeholder="Year"><br>
            <input type="text" name="journal" placeholder="Journal"><br>
            <input type="text" name="volume" placeholder="Volume"><br>
            <input type="text" name="issue" placeholder="Issue"><br>
            <input type="text" name="pages" placeholder="Pages"><br>
            <input type="text" name="doi" placeholder="DOI"><br>
            <textarea name="abstract" placeholder="Abstract"></textarea><br>
            <textarea name="note" placeholder="Note"></textarea><br>
    <input type="submit" value="Upload">
    </p>
</form>
{% endblock %}
